body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#upper_Block {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-color: #F3EFEE;
  font-size: 16px;
  width: 100%;
}

#upper_Block:after {
  position: absolute;
  content: ">";
  font-size: 100px;
  color: #7E6B64;
  cursor: pointer;
  top: 0;
  right: 60px;
  z-index: 99;
  bottom: 0;
  display: flex;
  align-items: center;
}

#upper_Block:before {
  position: absolute;
  content: "<";
  color: #7E6B64;
  cursor: pointer;
  font-size: 100px;
  left: 60px;
  top: 0;
  right: 60px;
  z-index: 99;
  bottom: 0;
  display: flex;
  align-items: center;
}

.upper_Block_left{
  position: relative;
  width: 50%;
}

.boy_image{
  position: relative;
  top: 80px;
  float: right;
  height: 90%;
  width: 80%;
}

.upper_image{
  position: absolute;
  bottom:45px;
  right: 50px;
  font-size: 2.6em;
  font-weight: 700;
  text-align: center;
}

.upper_image_top{
  color: #81695F;
}

.upper_image_bottom{
  color: #241C19;
}

.upper_Block_right{
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px 0px 35px 100px;
}

.upper_head{
  font-size: 1.5em;
  color: #231B19;
  font-weight: 700;
  width: 400px;
  text-align: center;
}

.upper_para {
  font-size: 1em;
  color: #7E6B64;
  width: 400px;
  justify-content: left;
  letter-spacing: 1px;
  line-height: 30px;
}

#lower_Block {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  background-color: #F8F8F8;
  font-size: 16px;
}

.lower_Block_left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.cd_image {
  margin: 0px 0px 0px 120px;
  width:80%;
}

.lower_Block_left_lower {
  margin: 20px 0px 0px 120px;
}

.lower_Block_left_lower_label{
  font-size: 1.8em;
  font-weight: 700;
}

.album_list {
  display: flex;
  margin: 20px 0px;
}

.album_list_name {
  position: relative;
  font-size: 1.1em;
  display: inline-block;
  width: 50%;
  margin: 0px 80px 0px 0px;
}

.album_list_name:after {
  content: '';
  position: absolute;
  top: 35%;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: #f5dad2;
  border-radius: 50%;
}

.album_list_year {
  position: relative;
  display: inline-block;
  margin: 0px 30px 0px 0px;
}

.album_list_listen {
  cursor: pointer;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  background-color: #f5dad2;
  margin: 0px 20px 0px 0px;
}

.album_list_buy {
  cursor: pointer;
  position: relative;
  font-size: 0.8em;
  display: inline-block;
  padding: 2.5px 6px;
  color: #ffffff;
  background-color: #81695f;
  margin: 0px;
}

.lower_Block_right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin:10px 0px 0px 100px;
}

.lower_Block_sectionone{
  margin: 20px 0px 10px;
}

.lBl_header_label{
  font-size: 2em;
  font-weight: 700;
}

.lBl_album_label{
  font-size: 1.5em;
  margin: 8px 0px 14px 0px;
}

.lBl_song_label{
  font-size: 1em;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

.lBl_current_song_label{
  font-size: 1em;
  margin: 15px 0px 0px 0px;
}

.lBl_song_label:hover{
  font-weight: 700;
}

.lower_Block_sectiontwo{
  margin: 20px 0px 0px;
}

.lower_Block_sectionthree{
  margin: 85px 0px 0px;
}